 .auth-container {
  display: flex;
  margin-top: 64px;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f3f4f6;
}

.auth-card {
  width: 350px;
  padding: 2rem;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

input,
select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 0.7rem;
  background-color: #3b82f6;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:disabled {
  background-color: #93c5fd;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #2563eb;
}

.links {
  text-align: center;
  margin-top: 1rem;
}

.links a {
  color: #3b82f6;
  font-size: 0.9rem;
  text-decoration: none;
  display: block;
}
