
.dashboard-container {
  margin-top: 64px;
  padding: 1.2rem;
  background: #fafafa;
  width:95vw;
  margin-left: 0.9rem;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

mat-tab-group{
  margin-top: 1.5rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;

}
mat-tab-header{
  position:relative;
}

p{
  font-size: 19px;
}

section {
  padding: 1.5rem;
  font-size: 1rem;
}

input {
  font-size: 1rem;
  border-radius: 4px;
}
.full-width {
  flex: 1;
}
.table {
  width: 100%;
  margin-top: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}
.news-card {
  background: white;
  border-left: 5px solid #2563eb;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
}

.news-card h4 {
  margin: 0;
  font-weight: bold;
}
.loading {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.2rem;
  color: #1e3a8a;
}

.activity-row, .exam-row {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.activity-row input,
.exam-row input {
  width: 150px;
}

.table button {
  margin-top: 5px;
}

.add{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 35px;
}
button {
  width: 75px;
  background-color: #3b82f6;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  border: none ;
}
button:hover {
  background-color: #1e3a8a;
}
.publish-btn {
  background-color: #3b82f6;
  margin: 1rem ;
  height: 38px;
}

