/* Contenedor global */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% de pantalla */
  width: 100%;
   background: #f8fafc;
}

/* MAIN ocupa el espacio restante */
main {
  flex: 1;                 /* ocupa todo el espacio libre */
  width:100%;
  padding: 1rem;
  display: flex;
  max-width: 1200px;
  justify-content: center;
  align-items: flex-start;
  margin:0px auto 0;
  box-sizing: border-box;
}
app-footer {
  margin-top: auto;
}
/* Ajustes responsive */
@media screen and (max-width: 650px) {
  main {
    padding: 0.5rem;
  }
}
