
.dashboard-container {
  padding: 1.2rem;
  /*margin-top: 70px;*/
  width:95vw;
  margin-left: 0.9rem;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

mat-tab-group {
  margin-top: 1.5rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

p{
  font-size: 16px;
  margin: 8px;

}

section {
  padding: 1.5rem;
  font-size: 1rem;
}

.table {
  width: 100%;
  margin-top: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 8px;
}
.news-card {
  background: white;
  border-left: 5px solid #2563eb;
  padding:0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
}

.news-card h4 {
  margin: 0;
  font-weight: bold;
}
.loading {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.2rem;
  color: #1e3a8a;
}
button {
  width: 35px;
  height: 25px;
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 0;;
}
mat-icon {
  display:flex;
  align-items: center;
  height: 20px;
  width: 20px;
}
